.header__logo{
    color:#3560F6;
    font-size: 32px;
    padding:20px;
}

body{
    background-color:#EEEEEE;
}

#menu__icon {
    font-size: 32px;
    padding:0 5px;
    margin-right:10px;
    font-weight: bold;
    background-color: #3560F6;
    color:#EEEEEE;
    border-radius: 3px;
    box-shadow: 2px 2px 2px gray;
}


.header {
    width: 100%;
    padding:20px;
}

.rese {
    font-size: 32px;
    font-weight: bold;
    color:#3560F6;
    text-decoration: none;
}

.form__error {
    color: red;
    margin: 0 10px;
}

.admin{
    font-weight: bold;
    margin:20px;
    font-size:30px;
    color:#3560F6;
}

.alert {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.text__content {
    border-radius: 5px;
    background-color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 5px gray;
    padding: 50px;
    text-align: center;
}

.text__content p {
    margin: 40px;
    font-size: 20px;
    font-weight: bold;
}

.return__button {
    text-decoration: none;
    font-size: 14px;
    width: 40%;
    background-color: #3560F6;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.return__button a {
    color: #fff;
}