.form__content {
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 5px gray;
    margin: 20px;
}

.form__heading {
    color: #fff;
    background-color: #3560F6;
    border-radius: 5px 5px 0 0;
    text-align: left;
}

.mail-form__heading {
    color: #fff;
    background-color: #00ff00;
    border-radius: 5px 5px 0 0;
    text-align: left;
}

.form__title {
    padding: 10px 15px;
}

.form__group-content {
    text-align: center;
    margin-top: 10px;
}

.form__group-content input,
select {
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
}

.form__button {
    text-align: right;
}

.form__button-submit {
    color: #fff;
    background-color: #3560F6;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 5px;
    border: none;
}

.mail-form__button-submit {
    color: #fff;
    background-color: #00ff00;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 5px;
    border: none;
}

.main {
    display: flex;
    padding: 10px;
}

/*reservation table*/
.reservation-table {
    text-align: center;
}

.reservation-table__inner {
    width: 100%;
    table-layout: fixed;
}

.reservation-table__header {
    padding: 5px;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.reservation-table__item {
    padding: 5px;
    width: 25%;
    text-align: center;
}

.reservation-table__row {
    border-bottom: 1px solid #ddd;
    text-align: center;
    width:25%;
}

.reservation-table__header-span {
    margin-right: 20%;
}

.main__content__right{
    margin-left:30px;
    width:70%;
}

@media screen and (max-width: 768px) {
    .main {
        display: block;
        padding: 3px;
    }

    .form__content {
        width: 90%;
        margin:0 auto;
        margin-bottom:20px;
    }

    .reservation-table__header,.reservation-table__item, .reservation-table__row {
    width: 23%;
    font-size:16px;
    padding: 0;
    }

    .reservation-table__inner {
    width: 100%;
}
.main__content__right {
    width: 90%;
    margin:0 auto;
}

.reservation-table{
    margin:20px 0;
}
}