.mypage__content {
    padding: 30px 0;
    display: flex;
}

.left__reservations__content,
.right__liked__content {
    width: 50%;
    margin: 0 5px;
}

.user__name{
    margin-left:51%;
}

.mypage__title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

/*左側の設定*/
.reservation__table {
    background-color: #5580F7;
    padding: 5px;
    margin: 20px;
}

.reservation__alert {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.left__content__reservation {
    background-color: #3560F6;
    color: #fff;
    border-radius: 3px;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;

}

.delete-form__button-submit:hover {
    cursor: pointer;
}
/*ここまで左側*/

/*ここから右側*/
.right__liked__content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.shop__content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px gray;
    width: 43%;
    margin: 8px;
    padding-bottom: 5px;
}

.shop__photo img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.liked__shops{
    display:flex;
    flex-wrap: wrap;
}

.shop__info {
    padding: 20px;
}

.shop__detail__button {
    text-decoration: none;
    font-size: 12px;
    width: 30%;
    background-color: #3560F6;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.shop__detail__button a {
    color: #fff;
}

.shop__title {
    font-size: 24px;
    font-weight: bold;
}

.shop__area,
.shop__genre {
    font-size: 12px;
}

.shop__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.likes {
    color: red;
    margin: 10px;
    font-size: 24px;
}

.reservation__table{
    color:#fff;
}


.reservation__td{
    display:inline-block;
    margin-left:20px;
}


.reservation__form{
    display:flex;
    justify-content: space-between;
    padding:0 10px;
}