.mypage__content {
    padding: 30px 0;
    display: flex;
}

.left__reservations__content,
.right__liked__content {
    width: 50%;
    margin: 0 5px;
}

.user__name {
    margin-left: 51%;
}

.mypage__title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

/*左側の設定*/
.reservation__table {
    background-color: #5580F7;
    padding: 5px;
    margin: 20px;
    color: #fff;
}

.reservation__form {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.reservation__td {
    display: inline-block;
    margin-left: 20px;
}

.reservation__td input {
    outline: none;
    border: none;
}

.reservation__date,
.reservation__time,
.reservation__number {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.reservation__time__option,
.reservation__number__option {
    color: black;
}

.reservation__alert {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.left__content__reservation {
    background-color: #3560F6;
    color: #fff;
    border-radius: 3px;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;

}

.delete-form__button-submit:hover,
.update-form__button-submit:hover {
    cursor: pointer;
}
/*ここまで左側*/

/*ここから右側*/
.right__liked__content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.shop__content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px gray;
    width: 43%;
    margin: 5px 8px 0;
    padding-bottom: 5px;
}

.shop__photo img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.liked__shops {
    display: flex;
    flex-wrap: wrap;
}

.shop__info {
    padding: 20px;
}

.shop__title {
    font-size: 24px;
    font-weight: bold;
}

.shop__area,
.shop__genre {
    font-size: 12px;
}

.shop__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.shop__detail__button {
    text-decoration: none;
    font-size: 12px;
    width: 60%;
    height: auto;
    background-color: #3560f6;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.shop__detail__button a {
    color: #fff;
}

.likes {
    color: red;
    margin: 10px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .mypage__content {
        padding: 10px 0;
        display: block;
    }
    
    .user__name {
        margin:12px;
    }

    .reservation__table {
        margin: 5px;
    }

    .left__reservations__content,.right__liked__content {
    width: 95%;
    margin: 0 5px;
    }

    .right__liked__content {
        display: block;
    }

    .shop__content {
        width: 100%;
    }

    .shop__info {
        padding: 5px;
    }

    .shop__detail__button {
        padding: 5px;
        font-size: 14px;
        width: 40%;
    }

    .shop__area,
    .shop__genre {
        font-size: 18px;
    }

    .likes {
        margin: 20px;
        font-size: 32px;
    }
}