form {
    position: relative;
}

.search__icon {
    position: absolute;
    left: 93%;
    top: 0;
    background: none;
    color: #666;
    border: none;
    font-size: 20px;
    /*アイコンサイズ*/
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort{
    width:57%;
}
select {
    width: 30%;
    margin: 0;
    border: 0;
    outline: none;
    border-right: 1px solid gray;
    padding: 0;
    background-color: #fff;
}

input {
    border: none;
    border-radius: 0 3px 3px 0;
    width: 50%;
}

.search__form {
    height: 30%;
    background-color: #fff;
    border-radius: 3px;
    margin: 20px;
    box-shadow: 3px 3px 3px gray;
    white-space: nowrap;
    width: 65%;
}

.header-utilities {
    white-space: nowrap;
}
*:focus {
    outline: none;
}

.shop__main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.shop__content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px gray;
    width: 22%;
    margin: 10px;
    padding-bottom: 5px;
}

.shop__photo img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.shop__info {
    padding: 20px;
}

.shop__area,
.shop__genre {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.shop__title {
    font-size: 20px;
    font-weight: bold;
}

.shop__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.shop__detail__button {
    text-decoration: none;
    font-size: 12px;
    width: 60%;
    height: auto;
    background-color: #3560f6;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.shop__detail__button a {
    color: #fff;
}

.likes__guest,.likes {
    margin: 5px;
    font-size: 24px;
    color: gainsboro;
}

.likes {
    cursor: pointer;
}

.liked {
    color:red;
}

.sort-form__content{
    width:80%;
    margin:20px;
    margin-bottom:10px;
    align-items: center;
    height: 30%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 3px gray;
}

@media screen and (max-width: 768px) {
    .shop__content {
        width: 100%;
    }

    .shop__info {
        padding: 5px;
    }

    .shop__detail__button {
        padding: 5px;
        font-size:14px;
        width:40%;
    }

    .header__inner {
        display: block;
    }

    select {
        width: 70%;
        border:1px solid gainsboro;
        margin-bottom:20px;
    }

    .keyword{
        display:block;
        margin-top:5px;
    }
    .search__icon {
        left: 80%;
        top: 45%;
    }

    .shop__area,.shop__genre {
    font-size: 18px;
    }

    .likes__guest,
    .likes {
        margin: 20px;
        font-size: 32px;
    }
}