.shop__detail__contant {
    padding: 30px 0;
    display:flex;
}

.left__content__shop,
.right__content__reservation {
    width: 45%;
    margin:0 20px;
}

/*左側の設定*/
.shop__content {
    width: 100%;
    margin-top:30px;
}

.shop__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.shop__title {
    margin: auto 0;
}

.shop__photo img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

#reverse__icon {
    font-size: 24px;
    padding: 0 5px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #fff;
    color: black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px gray;
}

.shop__title {
    font-size: 24px;
    font-weight: bold;
}

.shop__info {
    margin-top:10px;
}

.shop__area,
.shop__genre {
    display: inline-block;
    margin-right: 10px;
}

.shop__detail{
    margin-top:10px;
}

.review__link{
    color:gray;
}

/*ここまで左側*/

/*ここから右側*/
.right__content__reservation{
    background-color: #3560F6;
    color: #fff;
    border-radius: 3px;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;

}

.reservation__content__title {
    margin: 20px;
}

.reservation__table{
    background-color:#5580F7 ;
    padding:20px;
    margin:20px;
}

.reservation__botttom input{
    width:100%;
    position: absolute;
        /*←絶対位置*/
        bottom: 0;
        /*下に固定*/
        padding:10px;
        background-color:#003FF5;
        color:#fff;
        border:none;
        border-radius: 0 0 3px 3px;
}

.reservation__input__field{
    margin:20px;
}

.arart__message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.form__error {
    background-color: red;
    color: #fff;
    font-size: 24px;
}

.review__title{
    background-color: #657EE7;
    width:90%;
    text-align: center;
    padding:10px;
    color: #fff;
}

.bi-star-fill {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
    font-size:24px;
    color:#D9D9D9;
}

.bi-star-fill.fill {
    color: #3560F6;
    font-size:24px;
}

.delete-form__button-submit {
    display: inline-block;
    padding: 0; /* パディングをゼロにする */
    margin: 0; /* マージンをゼロにする */
    border: none;
    background: none;
    color: gray;
    text-decoration: underline; /* テキストに下線を追加 */
    cursor: pointer;
}

/* ボタンにホバーエフェクトを追加するスタイル */
.delete-form__button-submit:hover {
    color: #3560F6; /* ホバー時にテキストの色を変更 */
    text-decoration: underline;
}

.review-actions{
    display:flex;
    justify-content: right;
}

.review-delete-form{
    margin:0 20px;
}

.review-comments{
    width:80%;
    margin:10px;
}

@media screen and (max-width: 768px) {

    .shop__detail__contant {
            display: block;
        }
    
        .left__content__shop,
        .right__content__reservation {
            width: 90%;
            margin: 0 10px;
        }

}